<div class="row" style="background: #fff;">
    <div class="12u">

        <!-- Intro -->
        <section id="intro">
            <div>
                <div class="row">
                    <div class="4u">
                        <section class="first">
                            <a href='@Url.Action("Index","Apparel")'><span class="pennant"><span class="fa fa-male"></span></span></a>
                            <header>
                                <h2>Apparel</h2>
                            </header>
                            <p style="padding-bottom: 1em;">
                                Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.
                            </p>
                            <a href='@Url.Action("Index","Apparel")' class="button alt big">View More</a>
                        </section>
                    </div>
                    <div class="4u">
                        <section>
                            <a href='@Url.Action("Index","Comics")'><span class="pennant pennant-alt"><span class="fa fa-book"></span></span></a>
                                <header>
                                    <h2>Comics</h2>
                                </header>
                                <p style="padding-bottom: 1em;">
                                    Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.
                                </p>
                                <a href='@Url.Action("Index","Comics")' class="button alt big">View More</a>
                        </section>
                    </div>
                    <div class="4u">
                        <section class="last">
                            <a href='@Url.Action("Index", "Gadgets")'><span class="pennant pennant-alt2"><span class="fa fa-tablet"></span></span></a>
                                <header>
                                    <h2>Gadgets</h2>
                                </header>
                                <p style="padding-bottom: 1em;">
                                    Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.
                                </p>
                                <a href='@Url.Action("Index","Gadgets")' class="button alt big">View More</a>
                        </section>
                    </div>
                </div>
            </div>
        </section>

        <section id="intro">
            <div>
                <div class="row">
                    <div class="4u">
                        <section class="first">
                            <a href='@Url.Action("Index", "Games")'><span class="pennant"><span class="fa fa-puzzle-piece"></span></span></a>
                                <header>
                                    <h2>Games</h2>
                                </header>
                                <p style="padding-bottom: 1em;">
                                    Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.
                                </p>
                                <a href='@Url.Action("Index","Games")' class="button alt big">View More</a>
                        </section>
                    </div>
                    <div class="4u">
                        <section>
                            <a href='@Url.Action("Index", "Movies")'><span class="pennant pennant-alt"><span class="fa fa-film"></span></span></a>
                                <header>
                                    <h2>Movies</h2>
                                </header>
                                <p style="padding-bottom: 1em;">
                                    Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.
                                </p>
                                <a href='@Url.Action("Index","Movies")' class="button alt big">View More</a>
                        </section>
                    </div>
                    @*
                        <div class="4u">
                            <section class="last">
                                <a href='@Url.Action("Index", "Blog")'><span class="pennant pennant-alt2"><span class="fa fa-rss"></span></span></a>
                                    <header>
                                        <h2>Blog</h2>
                                    </header>
                                    <p style="padding-bottom: 1em;">
                                        Covering a varitey of topics from tech to lifestyle.
                                    </p>
                                    <a href='@Url.Action("Index","Blog")' class="button alt big">Read More</a>
                            </section>
                        </div>
                    *@
                </div>
            </div>
        </section>

    </div>
</div>