<!DOCTYPE html>
<!--
    Dopetrope 2.5 by HTML5 UP
    html5up.net | (at)n33co
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="en">
<head>
    <title>@ViewBag.CurrentPage - theCosmics</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900,300italic" rel="stylesheet" />
    <script src="/Scripts/jquery.min.js"></script>
    <script src="/Scripts/jquery.dropotron.min.js"></script>
    <script src="/Scripts/config.js"></script>
    <script src="/Scripts/skel.min.js"></script>
    <script src="/Scripts/skel-panels.min.js"></script>
    <noscript>
        <link rel="stylesheet" href="/Content/skel-noscript.css" />
        <link rel="stylesheet" href="/Content/style.css" />
        <link rel="stylesheet" href="/Content/style-desktop.css" />
    </noscript>
    <!--[if lte IE 8]><script src="Scripts/html5shiv.js"></script><link rel="stylesheet" href="Content/ie8.css" /><![endif]-->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
@{
    string currentPage = @ViewBag.CurrentPage.ToLower();
}
<body class="homepage" id="@currentPage">
    <!-- Header Wrapper -->
    <div id="header-wrapper">
        <div class="container">
            <div class="row">
                <div class="12u">
                    <!-- Header -->
                    <section id="header">
                        <!-- Logo -->
                        <h1><a href="/">theCosmics</a></h1>
                        <!-- Nav -->
                        <nav id="nav">
                            <ul>
                                <li>@Html.ActionLink("Home", "Index", "Home", null, new { @id = "home" })</li>
                                <li>@Html.ActionLink("Apparel", "Index", "Apparel", null, new { @id = "apparel" })</li>
                                <li>@Html.ActionLink("Comics", "Index", "Comics", null, new { @id = "comics" })</li>
                                <li>@Html.ActionLink("Gadgets", "Index", "Gadgets", null, new { @id = "gadgets" })</li>
                                <li>@Html.ActionLink("Games", "Index", "Games", null, new { @id = "games" })</li>
                                <li>@Html.ActionLink("Movies", "Index", "Movies", null, new { @id = "movies" })</li>
                            </ul>
                        </nav>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="12u">

                    <!-- Intro -->
                    <section id="intro">
                        <div>
                            <div class="row">
                                <div class="4u">
                                    <section class="first">
                                        <span class="pennant"><span class="fa fa-male"></span></span>
                                        <header>
                                            <h2>Apparel</h2>
                                        </header>
                                        <p style="padding-bottom: 1em;">
                                            Apparel
                                        </p>
                                        <a href='@Url.Action("Index","Apparel")' class="button alt big">View More</a>
                                    </section>
                                </div>
                                <div class="4u">
                                    <section class="middle">
                                        <span class="pennant pennant-alt"><span class="fa fa-book"></span></span>
                                        <header>
                                            <h2>Comics</h2>
                                        </header>
                                        <p style="padding-bottom: 1em;">
                                            Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.
                                        </p>
                                        <a href='@Url.Action("Index","Comics")' class="button alt big">View More</a>
                                    </section>
                                </div>
                                <div class="4u">
                                    <section class="last">
                                        <span class="pennant pennant-alt2"><span class="fa fa-tablet"></span></span>
                                        <header>
                                            <h2>Gadgets</h2>
                                        </header>
                                        <p style="padding-bottom: 1em;">
                                            Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.
                                        </p>
                                        <a href='@Url.Action("Index","Gadgets")' class="button alt big">View More</a>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section id="intro">
                        <div>
                            <div class="row">
                                <div class="4u">
                                    <section class="first">
                                        <span class="pennant"><span class="fa fa-puzzle-piece"></span></span>
                                        <header>
                                            <h2>Games</h2>
                                        </header>
                                        <p style="padding-bottom: 1em;">
                                            Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.
                                        </p>
                                        <a href='@Url.Action("Index","Games")' class="button alt big">View More</a>
                                    </section>
                                </div>
                                <div class="4u">
                                    <section class="middle">
                                        <span class="pennant pennant-alt"><span class="fa fa-film"></span></span>
                                        <header>
                                            <h2>Movies</h2>
                                        </header>
                                        <p style="padding-bottom: 1em;">
                                            Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.
                                        </p>
                                        <a href='@Url.Action("Index","Movies")' class="button alt big">View More</a>
                                    </section>
                                </div>
                                <div class="4u">
                                    <section class="last">
                                        <span class="pennant pennant-alt2"><span class="fa fa-rss"></span></span>
                                        <header>
                                            <h2>Blog</h2>
                                        </header>
                                        <p style="padding-bottom: 1em;">
                                            Covering a varitey of topics from tech to lifestyle.
                                        </p>
                                        <a href='@Url.Action("Index","Blog")' class="button alt big">Read More</a>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>
            </div>
        </div>
    </div>

    <!-- Main Wrapper -->
    <div id="main-wrapper">
        <div class="container">
            @RenderBody()
        </div>
    </div>

    <!-- Footer Wrapper -->
    <div id="footer-wrapper">
        <!-- Footer -->
        <section id="footer" class="container">
            <div class="row">
                <div class="8u">
                    <section>
                        <header>
                            <h2>Blandit nisl adipiscing</h2>
                        </header>
                        <ul class="dates">
                            <li>
                                <span class="date">Jan <strong>27</strong></span>
                                <h3><a href="#">Lorem dolor sit amet veroeros</a></h3>
                                <p>Ipsum dolor sit amet veroeros consequat blandit ipsum phasellus lorem consequat etiam.</p>
                            </li>
                            <li>
                                <span class="date">Jan <strong>23</strong></span>
                                <h3><a href="#">Ipsum sed blandit nisl consequat</a></h3>
                                <p>Blandit phasellus lorem ipsum dolor tempor sapien tortor hendrerit adipiscing feugiat lorem.</p>
                            </li>
                            <li>
                                <span class="date">Jan <strong>15</strong></span>
                                <h3><a href="#">Magna tempus lorem feugiat</a></h3>
                                <p>Dolore consequat sed phasellus lorem sed etiam nullam dolor etiam sed amet sit consequat.</p>
                            </li>
                            <li>
                                <span class="date">Jan <strong>12</strong></span>
                                <h3><a href="#">Dolore tempus ipsum feugiat nulla</a></h3>
                                <p>Feugiat lorem dolor sed nullam tempus lorem ipsum dolor sit amet nullam consequat.</p>
                            </li>
                            <li>
                                <span class="date">Jan <strong>10</strong></span>
                                <h3><a href="#">Blandit tempus aliquam?</a></h3>
                                <p>Feugiat sed tempus blandit tempus adipiscing nisl lorem ipsum dolor sit amet dolore.</p>
                            </li>
                        </ul>
                    </section>

                </div>
                <div class="4u">

                    <section>
                        <header>
                            <h2>What's this all about?</h2>
                        </header>
                        <a href="http://facebook.com/DreametryDoodle" class="image image-full"><img src="/Images/pic10.jpg" alt="" /></a>
                        <p>
                            This is <a href="http://html5up.net/dopetrope/">Dopetrope</a> a free, fully responsive HTML5 site template by
                            <a href="http://n33.co">AJ</a> for <a href="http://html5up.net/">HTML5 UP</a> It's released for free under
                            the <a href="http://html5up.net/license/">CCA</a> license so feel free to use it for any personal or commercial project &ndash;
                            just don't forget to credit us! <strong>PS:</strong> The awesome placeholder artwork used in this design is courtesy of <a href="http://facebook.com/DreametryDoodle/">Dreametry Doodle</a>.
                        </p>
                        <footer>
                            <a href="#" class="button">Find out more</a>
                        </footer>
                    </section>

                </div>
            </div>
            <div class="row">
                <div class="4u">

                    <section>
                        <header>
                            <h2>Tempus consequat</h2>
                        </header>
                        <ul class="divided">
                            <li><a href="#">Lorem ipsum dolor sit amet sit veroeros</a></li>
                            <li><a href="#">Sed et blandit consequat sed tlorem blandit</a></li>
                            <li><a href="#">Adipiscing feugiat phasellus sed tempus</a></li>
                            <li><a href="#">Hendrerit tortor vitae mattis tempor sapien</a></li>
                            <li><a href="#">Sem feugiat sapien id suscipit magna felis nec</a></li>
                            <li><a href="#">Elit class aptent taciti sociosqu ad litora</a></li>
                        </ul>
                    </section>

                </div>
                <div class="4u">

                    <section>
                        <header>
                            <h2>Ipsum et phasellus</h2>
                        </header>
                        <ul class="divided">
                            <li><a href="#">Lorem ipsum dolor sit amet sit veroeros</a></li>
                            <li><a href="#">Sed et blandit consequat sed tlorem blandit</a></li>
                            <li><a href="#">Adipiscing feugiat phasellus sed tempus</a></li>
                            <li><a href="#">Hendrerit tortor vitae mattis tempor sapien</a></li>
                            <li><a href="#">Sem feugiat sapien id suscipit magna felis nec</a></li>
                            <li><a href="#">Elit class aptent taciti sociosqu ad litora</a></li>
                        </ul>
                    </section>

                </div>
                <div class="4u">

                    <section>
                        <header>
                            <h2>Vitae tempor lorem</h2>
                        </header>
                        <ul class="social">
                            <li><a class="fa fa-facebook solo" href="#"><span>Facebook</span></a></li>
                            <li><a class="fa fa-twitter solo" href="http://twitter.com/n33co"><span>Twitter</span></a></li>
                            <li><a class="fa fa-dribbble solo" href="http://dribbble.com/n33"><span>Dribbble</span></a></li>
                            <li><a class="fa fa-linkedin solo" href="#"><span>LinkedIn</span></a></li>
                            <li><a class="fa fa-google-plus solo" href="#"><span>Google+</span></a></li>
                        </ul>
                        <ul class="contact">
                            <li>
                                <h3>Address</h3>
                                <p>
                                    Untitled Incorporated<br />
                                    1234 Somewhere Road Suite #5432<br />
                                    Nashville, TN 00000-0000
                                </p>
                            </li>
                            <li>
                                <h3>Mail</h3>
                                <p><a href="#">someone@untitled.tld</a></p>
                            </li>
                            <li>
                                <h3>Phone</h3>
                                <p>(800) 000-0000</p>
                            </li>
                        </ul>
                    </section>

                </div>
            </div>
            <div class="row">
                <div class="12u">

                    <!-- Copyright -->
                    <div id="copyright">
                        <ul class="links">
                            <li>&copy; @DateTime.Now.Year - theCosmics	</li>
                            <li>Images: <a href="http://facebook.com/DreametryDoodle">Dreametry Doodle</a></li>
                            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </section>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>