@using theCosmics.Controllers
@using theCosmics.Models

@model theCosmics.Models.Blog

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="12u">
        <section>
            <div>
                <div class="row">
                    <div class="8u skel-cell-important">
                        <article class="box is-post">
                            <header>
                                <h1>@Html.DisplayFor(model => @model.Category)</h1>
                                <h2>@Html.DisplayFor(model => model.Title)</h2>
                                <span>By <a href='@Url.Action("Blogger", "Blog")'><b>@Html.DisplayFor(model => model.Author)</b></a> | @Html.DisplayFor(model => model.Created)</span>
                            </header>
                            <p>
                                @Html.Raw(Model.Body)
                            </p>
                        </article>
                    </div>
                    <div class="4u">
                        <section class="box">
                            <a href='@Url.Action("Index", "Blog", new { Category = Model.Category })' class="image image-full"><img src="/Images/blog.png" alt="" /></a>
                            <header>
                                <h3>View More Blogs for @Model.Category</h3>
                            </header>
                            <p>Click the image (above) or button (below) to browse all blog post in the same category as this article. Sorted newest to oldest.</p>
                            <footer>
                                <a href='@Url.Action("Index", "Blog", new { Category = Model.Category })' class="button alt">View More Posts</a>
                            </footer>
                        </section>
                        <section class="box">
                            <header>
                                <h3>Top Blog Categories</h3>
                            </header>
                            <p>We have an open policy for when it comes what to write in our blog posts. You can browse the many categories below.</p>
                            <ul class="divided">
                                @{
                                    IEnumerable<TopCategoryModel> Categories = new BlogController().TopBlogCategories();

                                    foreach (var row in Categories)
                                    {
                                    <li>@Html.ActionLink(row.Category, "Index", "Blog", new { Category = row.Category }, null)</li>
                                    }
                                }
                            </ul>
                            <footer>
                                <a href='@Url.Action("Index", "Blog", new { Category = "All" })' class="button alt">View All Blog Posts</a>
                            </footer>
                        </section>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>